<p id="notice"><%= notice %></p>

<h3>Quiz: <%= @quiz.title %></h3>

<p>
  <strong>Slug:</strong>
  <%= @quiz.slug %>
</p>

<h3>Questions</h3>
<ul>
  <% @quiz.questions.each do |q| %>
    <li>
      <p><strong>Question: </strong><%= q.body %></p>
      <% q.answers.each do |a| %>
        <p><strong>Answer:</strong> <%= a.body %>
          <span><%= link_to "edit", edit_answer_path(a) %></span>
          <span><%= link_to "delete", answer_path(a), method: :delete %></span>
          </p>
      <% end %>
      <p><%= link_to "add answer", new_question_answer_path(q) %></p>
    </li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_quiz_path(@quiz) %> |
<%= link_to 'Add Question', new_quiz_question_path(@quiz) %> |
<%= link_to 'Back', quizzes_path %>
