<p id="notice"><%= notice %></p>

<h1>Listing Further Thoughts</h1>

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th>Question</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @further_thoughts.each do |further_thought| %>
      <tr>
        <td><%= further_thought.body %></td>
        <td><%= further_thought.question_id %></td>
        <td><%= link_to 'Show', further_thought %></td>
        <td><%= link_to 'Edit', edit_further_thought_path(further_thought) %></td>
        <td><%= link_to 'Destroy', further_thought, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Further thought', new_further_thought_path %>
