<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @hint.body %>
</p>

<p>
  <strong>Question:</strong>
  <%= @hint.question_id %>
</p>

<%= link_to 'Edit', edit_hint_path(@hint) %> |
<%= link_to 'Back', hints_path %>
